<!-- Login and registration use a single-user localStorage-based approach. User credentials are stored as a JSON object in the browser’s localStorage during registration and validated during login by comparing the entered values with stored data.” -->
<div class="login-container">
  <div class="login-card">
    
    <div class="left-panel">
      <div class="illustration-circle">
        <img src="login-img.png" alt="Welcome Illustration" class="hero-image">
      </div>
      <p class="description">
        Welcome to H&R India Health Metrics—your personal space to monitor daily wellness stats, track habits, and stay motivated. Keep an eye on your health trends and take a step closer to a healthier lifestyle every day!
      </p>
    </div>

    <div class="right-panel">

      <div class="form-content" *ngIf="isLoginMode">
        <h2>Login your account</h2>

        <form (ngSubmit)="onLogin()">
          <div class="input-group">
            <label for="username">Username</label>
            <input  type="text" 
                    id="username" 
                    placeholder="Username" 
                    name="username"
                    [(ngModel)]="loginObj.username">
          </div>

          <div class="input-group">
            <label for="password">Password</label>
           <input type="password"
                  id="password"
                  placeholder="Password"
                  name="password"
                  [(ngModel)]="loginObj.password">

          </div>

          <button type="submit" class="btn-login">Login</button>
          
          <div class="linkss">
            <span style="color: #a0a0a0; font-size: 0.9rem;">Don't have an account? </span>
            <a href="javascript:void(0)" (click)="toggleMode()" class="create-account" style="font-weight: bold; margin-left: 5px;">Create Account</a>
          </div>
          
          <div class="forgot-pass">
            <a href="#">Forgot Password?</a>
          </div>
        </form>
      </div>


      
      <div class="form-content" *ngIf="!isLoginMode">
        <h2>Create New Account</h2>

        <form (ngSubmit)="onRegister()">
          <div class="input-group">
            <label for="fullname">Full Name</label>
            <input type="text"
                    id="fullname"
                    placeholder="Full Name"
                    name="fullname"
                    [(ngModel)]="registerObj.username">

          </div>

          <div class="input-group">
            <label for="email">Email Address</label>
            <input type="email"
                    id="email"
                    placeholder="Email Address"
                    name="email"
                    [(ngModel)]="registerObj.email">

          </div>

          <div class="input-group">
            <label for="new-password">Password</label>
           <input type="password"
                  id="new-password"
                  placeholder="Password"
                  name="password"
                  [(ngModel)]="registerObj.password">

          </div>

          <button type="submit" class="btn-login">Register</button>
          
          <div class="links">
            <span style="color: #a0a0a0; font-size: 0.9rem;">Already have an account? </span>
            <a href="javascript:void(0)" (click)="toggleMode()" class="create-account" style="font-weight: bold; margin-left: 5px;">Login here</a>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>