/* You can add global styles to this file, and also import other style files */
/* You can delete everything else here if you want a clean slate */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* This forces the horizontal scrollbar to hide */
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}